/*

  Typography
  +

*/

body{
  line-height: $base-line-height;
}

ol{
  text-align: left;
}

code{
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 3px;
}


.link-cta {
  font-size: 1.4rem;

  &:link,
  &:visited {
      font-style: italic;
      color: $color-green-light;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color-green-light;
      padding: 3px 5px 2px 5px;
      transition: all .2s;
  }

  &:hover {
      background-color: $color-green-light;
      color: black;
      box-shadow: 0 1rem 2rem rgba($color-black, .15);
      transform: translateY(-2px);
  }

  &:active {
      box-shadow: 0 .5rem 1rem rgba($color-black, .15);
      transform: translateY(0);
  }
}
