@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints";

.u-space-desktop {
    @include media-breakpoint-down(md) {
        display: none;
    }
}

.u-container {
    max-width: 70rem;
    margin: 0 auto;
}

.u-grid-two {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include media-breakpoint-down(md) {
        display: inline-block;
    }

}

.book-me {
    .book-me-now {
        float: right;
        margin-top: 25vh;
        background-color: $color-green-light;
        border: 1px;
        font-size: 2rem;
        right: 0;
        z-index: 100;
        padding: 1rem 1.5rem;
        font-family: "Playfair Display",serif;
        position: absolute;
        position: fixed;
        font-weight: 300;
        transition: all .3s ease;
    @include media-breakpoint-down(md) {
            display: none;
          }
        &:hover {
            letter-spacing: 1px;
            cursor: pointer;
        }
    }
}

.u-two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
      }
}
