/*

  Variables
  +

*/

// Colours

$color-primary: white;
$color-white: white;
$color-black: #161615;
$color-green-light: #2CE578;
$color-purple-bright: #FF19A9;


// Base
$line-height-big: 2.8rem;
$line-height-normal: 2.4rem;
$max-width-big: 90rem;

$base-line-height: 1.7;

//box-shadows
$box-shadow-black: 0 1rem 2rem rgba($color-black,.2);
$box-shadow-green: 0 1rem 2rem rgba($color-green-light,.2);