/*

  Variables
  +

*/

// Colours

$color-primary: red;
$color-white: white;
$color-black: #161615;
$color-green-light: #2CE578;
$color-purple-bright: #FF19A9;


// Base
$line-height-big: 2.8rem;
$line-height-normal: 2.4rem;
$max-width-big: 90rem;

$base-line-height: 1.7;