/*

  EVENTS
  +

*/

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints";

.events {
  min-height: 90vh;
  position: relative;
  background-color: $color-black;

  &--wrapper {
    max-width: 820px;
   // margin: auto;
  }

  &__img {
    position: relative;
    
    img {
      left: 50%; 
      top: -10rem;
      transform: translate(-50%,0); 
      position: absolute; 
      z-index: 1
    }
  }

  &__text {
      margin: 15rem 0 5rem 20rem;
      padding-top: 5rem;
      
      @include respond(tab-port) {
        @include center-text;
      }
    &__title {
      font-family: 'Playfair Display', serif;
      font-size: 4rem;
      font-style: italic;
      @include respond(tab-port) {
        @include center-text;
      }
      &--span {
        &--am {
          font-size: 3rem;
        }

        &--dj {
          color: $color-purple-bright;
          font-size: 2rem;
          font-family: 'Roboto', sans-serif;
          margin-right: 2rem;
        }
      }
    }

    &__cta {
  
      margin: 3rem 0 3rem 20rem;
      @include respond(tab-port) {
        margin: 3rem 0 3rem 0;
        text-align: center;
      }
    }
  }
  &__container {
    position: relative;
  }
}

.glider {
  &__card {
    display: flex;
    flex-direction: column;
    max-width: 29rem;
    @include respond(tab-port) {
      max-width: 24rem;
      display: flex;
      margin: auto;
    }
    margin: auto;
    &__img {
      max-width: 25rem;
    }

    &__name {
      font-family: 'Playfair Display', serif;
      font-style: 2.2rem;
    }

    &__date {
      float: right;
      color: $color-green-light;
    }

    &__text {
      margin-top: 3rem;
      line-height: $line-height-big;
    }

    &__link {
      margin: 3rem 0 5rem 0;
    }
  }
  .glider-slide {
    opacity: .4;
    display: flex;
    justify-items: center;
    justify-content: center;
    @include respond(tab-port) {
      margin: auto;
    }
  
  }
}

.glider-slide.active {
  opacity: 1;
  margin-left: 15rem;
  @include respond(tab-port) {
    display: flex;
    margin: auto;
  }
}
  
.glider-prev {
  left: 3rem !important;
  transform: rotate(180deg);
}
.glider-next  {
  right: 3rem !important;
}
