/*

  Header
  +

*/

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints";


.header {
  position: absolute;
  padding: 1em;
  z-index: 20;
  //display: flex;
  justify-content: space-between;
  width: calc(100% - 2em);
  //background: $color-black;

  @include media-breakpoint-down(md) {
    .navigation-desktop {
      display: none;
    }
  }


  &__phone {
    display: inline-block;
    float: right;
    margin-top: 1rem;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  a {
      text-decoration: none;
      color: $color-white;
  }

  a.logo {
      font-weight: bold;
      text-transform: uppercase;

  }

  nav ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      margin: 2rem;
      padding: 0;

      li a {
          padding: 1em;
      }
  }
  &__links {
    color: $color-green-light;
  }
}

.header{


  h1{
    display: block;
    padding: 150px 30px 0;
    width: 420px;
    max-width: 100%;
    margin: 0 0 30px;
    color: green;
  }
}
