/*

  mixes
  +

*/

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints";

//SOUNDCLOUD OVERRIDES
.cookiePolicy {
  display: none !important;
}

.mixes {
  position: relative;
  min-height: 90vh;
  background-color: $color-black;

  &--wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  &__playlist {
    &--track {
      margin: 3rem 0;
      padding: 1rem 12rem;
    }
  &__hear-more {
    padding: 3rem 1rem 3rem 4rem;
  }
  }

  &__img {
    position: relative;

    img {
      @include media-breakpoint-up(md) {
        left: 50%;
        top: -14rem;
        transform: translate(-50%, 0);
        position: absolute;
      }

      z-index: 1;
      @include media-breakpoint-down(sm) {
       width: 100%;
       height: auto;
      }
    }
  }

  &__text {
    padding: 5rem 1rem 1rem 1rem;
    display: flex;
    justify-content: center;
    @include media-breakpoint-down(md) {
      @include center-text;
    }

    &__title {
      font-family: 'Playfair Display', serif;
      font-size: 4rem;
      font-style: italic;
      @include media-breakpoint-down(md) {
        @include center-text;
      }

      //margin-left: 10rem;
      &--span {
        &--am {
          font-size: 3rem;
        }
        &--dj {
          color: $color-purple-bright;
          font-size: 1.5rem;
          font-family: 'Roboto', sans-serif;
          margin-right: 2rem;
          margin-left: -15px;
        }
      }
    }

    &__cta {
      margin-top: 3rem;
      margin-left: 20rem;
      @include media-breakpoint-down(md) {
        padding-bottom: 3rem;
        margin: auto;
        text-align: center;
      }
      .link-cta {
        @include media-breakpoint-down(md) {
          margin: auto;
        }
      }
     
    }
  }

  &__links {
    max-width: 70rem;
    margin-left: 20rem;

    .sc-artwork {
      display: none;
    }

    .g-box-full {
      max-width: 40rem;
    }

    .sound.artworkVisible .sound__content {
      left: 0;
    }
  }

  &__button {
    position: relative;

    &--cta {
      position: absolute;
      left: 25%;
      z-index: 2;
      bottom: -30vh;
      
    }
  }
}
