/*

  SHAKE
  +

*/


.shake {
  min-height: 95vh;
  z-index: -1;
  position: sticky;
  top: 0px;
  &--wrapper {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

  }
  .sticky-element {
    margin-top: 10rem;
    width: 70%;
  }
}