/*

  SHAKE
  +

*/

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints";


.shake {
  min-height: 95vh;
  z-index: -1;
  position: -webkit-sticky;
  position: sticky;
  top: -100vh;
  @include media-breakpoint-down(md) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--wrapper {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    position: sticky;
    @include media-breakpoint-down(md) {
      display: inherit;
    }

  }
  .sticky-element {
    margin: 10rem auto;
    padding: 20rem 10rem 10rem 10rem;
    width: 60%;
    @include media-breakpoint-down(md){
      //margin-top: 15rem;
      //width: 50%;
      width: 80%;
     }
  }
}
