/*

  Top
  +

*/

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints";

.top {
  min-height: 90vh;
  background-color: $color-black;

  &--wrapper {
      //display: grid;
      //grid-template-columns: 1fr 1fr;
      //@include respond(tab-port) {
      //  grid-template-columns: 1fr;
      //}
  }

  &__img {
    position: relative;

    img {
      //position: absolute;
      //left: 45%;
      //height: 48rem;
      //top: 16rem;
      box-shadow: $box-shadow-green;
      @include media-breakpoint-up(md) {
        right: 0;
        top: 5rem;
        top: 150px;
        position: absolute;
      }
    }
  }

  &__text {
      margin-top: 14rem;
      margin-left: 14rem;

      @include respond(tab-port) {
        display: flex;
        margin: auto;
        flex-direction: column;
        margin-top: 10rem;
      }
    &__title {
      font-family: 'Playfair Display', serif;
      font-size: 4rem;
      &--span {
        &--am {
          font-style: italic;
          font-size: 3rem;
          margin-right: 1.5rem;
        }

        &--dj {
          color: $color-green-light;
          font-size: 2.5rem;
        }
      }
    }

    &__subtitle {
        margin-top: 5rem;
        font-size: 1.4rem;
    }

    &__cta {
      margin-top: 3rem;

    }
  }

  &__button {
    position: relative;

    &--cta {
      @include media-breakpoint-up(md) {
        position: absolute;
        left: 50%;
        bottom: -43vh;
      }
    //  position: absolute;
    //  right: 18%;
    //bottom: -28vh;
    }
  }
}

.footer{
  padding: 0 30px 150px;
}
