/*

  Top
  +

*/

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints";

.top {
  min-height: 90vh;
  position: relative;
  background-color: $color-black;

  &--wrapper {
      //display: grid;
      //grid-template-columns: 1fr 1fr;
      //@include respond(tab-port) {
      //  grid-template-columns: 1fr;
      //}
  }

  &__img {
    @include media-breakpoint-down(md) {
      max-width: unset !important;
    }
    @include media-breakpoint-up(md) {
      max-width: 460px;
      height: auto;
      position: relative;
      margin-top: 0;
    }

    svg, img {
      //position: absolute;
      //left: 45%;
      //height: 48rem;
      //top: 16rem;
      height: auto;
      width: 100%;
      @include media-breakpoint-up(lg) {
        box-shadow: $box-shadow-green;
        top: 10rem;
      }

      //box-shadow: $box-shadow-green;
      @include media-breakpoint-up(md) {
        right: 0;
        top: 10rem;
        position: absolute;
      }
      @include media-breakpoint-down(md) {
        position: relative;
        padding: 4rem 8rem 2rem 8rem;
        height: auto;
        width: 100%;
      }
    }
  }

  &__text {
      margin-top: 14rem;
      margin-left: 14rem;

      @include respond(tab-port) {
        display: flex;
        margin: auto;
        flex-direction: column;
        margin-top: 10rem;
        padding-left: 5rem;
      }
    &__title {
      font-family: 'Playfair Display SC', serif;
      font-weight: bold;

      font-size: 4rem;
      &--span {
        &--am {
          font-style: italic;
          font-size: 3rem;
          margin-right: 1.5rem;
        }

        &--dj {
          color: $color-green-light;
          font-size: 2.5rem;
        }
      }
    }

    &__subtitle {
        margin-top: 5rem;
        font-size: 1.4rem;
    }

    &__cta {
      margin-top: 3rem;

    }
  }

  &__button {
    //position: relative;

    &--cta {
      @include media-breakpoint-down(md) {
        left: 50%;
        transform: translate(-50%, 0%);
        bottom: -5vh;
      }
      @include media-breakpoint-up(md) {
        position: absolute;
        left: 50%;
        bottom: -1vh;
      }
    }
  }
  &__social-media {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 1rem 2rem;
    position: fixed;
    z-index: 3;
    right: 0%;
    @include media-breakpoint-down(sm) {
      display: none;
    }

    img {
      width: 130%;
      transition: all .3s ease;
      @include media-breakpoint-down(md) {
        width: 200%;
      }
      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }
}

.u--{
  &fb {
    top: 43%;
  }
  &insta {
    top:  50%
  }
  &soundcloud {
    top: 57.5%;
  }
}

#stars {
  animation: starsShine 8s infinite linear alternate-reverse;

}

#vinylplaat1 {

}


#vinylplaat3 {

}

#Niels_arm2, #Niels_arm1 {
  animation: rotateArm 4s infinite linear alternate-reverse;
  transform-origin: top;
  transform-box: fill-box;
}

#vinylplaat2, #vinylplaat3 {
  animation: rotateVinyl 3s infinite linear alternate;
  transform-origin: center;
  transform-box: fill-box;
}
#vinylplaat2_kopie {

}

#regenboog {
  opacity: 0;
  animation: rainbowShine 8s 2s infinite linear alternate;

}

#muzieknoot_1 {
  animation: moveUpDown 7s infinite linear alternate-reverse;
}

#muzieknoot_2 {
  animation: moveUpDown 8s infinite linear alternate-reverse;

}

#geluid {
  animation: noise 8s 4s infinite linear alternate-reverse;
  transform-origin: center;
  transform-box: fill-box;

}
