/*

  TUNR
  +

*/

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints";


.turn {
  min-height: 95vh;
  z-index: -1;
  position: sticky;
  bottom: 0px;
  @include media-breakpoint-down(md) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--wrapper {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    @include media-breakpoint-down(md) {
      display: inherit;
    }

  }
  .sticky-element {
   margin: 10rem auto;
    width: 40%;
    @include media-breakpoint-down(md) {
     margin-top: 30%;
     width: 50%;
    }
  }
}
